/* HeaderBar */
.HomeHeader {
position: absolute;
width: 375px;
height: 90px;
left: 0px;
top: 0px;

background: #F9F9F9;
}

.PosBar  {
position: absolute;
width: 375px;
height: 90px;
left: 35px;
top: 35px;
}