/* Order Card */
.Order {
position: absolute;
width: 343px;
height: 164px;
left: 17px;
top: 224px;



/* Rectangle */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* White */
background: #FFFFFF;
box-shadow: 0px 1px 24px rgba(0, 0, 0, 0.12);
border-radius: 8px;


/* Button/Secondary/Outline/Small */

position: absolute;
left: 5.54%;
right: 65.89%;
top: 65.85%;
bottom: 12.2%;



/* Rectangle */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Black */
border: 1px solid #222222;
box-sizing: border-box;
border-radius: 24px;


/* Detalhes */

position: absolute;
left: 19.69%;
right: 19.08%;
top: 22.22%;
bottom: 22.22%;

/* 14px */
font-family: Metropolis;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: center;

/* Black */
background: #222222;


/* Entregue */

position: absolute;
left: 74.05%;
right: 3.5%;
top: 71.95%;
bottom: 18.9%;

/* 14px */
font-family: Metropolis;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
text-align: center;

/* Success */
background: #2AA952;


/* Pedido №1947034 */

position: absolute;
left: 4.08%;
right: 53.94%;
top: 11.59%;
bottom: 78.66%;

/* 16px */
font-family: Metropolis;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 16px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

/* Black */
background: #222222;


/* quantity */

position: absolute;
left: 4.66%;
right: 62.97%;
top: 45.12%;
bottom: 44.51%;



/* Quantidade: */

position: absolute;
left: 4.66%;
right: 69.97%;
top: 45.12%;
bottom: 44.51%;

font-family: Metropolis;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
text-align: right;

/* Gray */
background: #9B9B9B;


/* 3 */

position: absolute;
left: 34.11%;
right: 62.97%;
top: 45.73%;
bottom: 44.51%;

/* 16px */
font-family: Metropolis;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 16px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

/* Black */
background: #222222;


/* tr number */

position: absolute;
left: 5.54%;
right: 5.25%;
top: 29.27%;
bottom: 60.37%;



/* Código de rastreio: */

position: absolute;
left: 5.54%;
right: 56.85%;
top: 30.49%;
bottom: 60.37%;

font-family: Metropolis;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
text-align: right;

/* Gray */
background: #9B9B9B;


/* IW3475453455 */

position: absolute;
left: 64.14%;
right: 5.25%;
top: 29.27%;
bottom: 60.37%;

/* 14px */
font-family: Metropolis;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;

/* Black */
background: #222222;


/* Total amount */

position: absolute;
left: 55.98%;
right: 5.25%;
top: 45.12%;
bottom: 42.68%;



/* Total : */

position: absolute;
left: 55.98%;
right: 31.78%;
top: 45.12%;
bottom: 42.68%;

font-family: Metropolis;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: right;

/* Gray */
background: #9B9B9B;


/* R$ 112,21 */

position: absolute;
left: 74.93%;
right: 5.25%;
top: 45.73%;
bottom: 44.51%;

/* 16px */
font-family: Metropolis;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 16px;
/* identical to box height */
display: flex;
align-items: center;

/* Black */
background: #222222;


/* date */

position: absolute;
left: 73.18%;
right: 5.25%;
top: 10.98%;
bottom: 76.83%;

font-family: Metropolis;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: right;

/* Gray */
background: #9B9B9B;
}