/* Seu pedido será entregue em breve. Obrigado por utilizar nosso app! */
.SeuPedido {
position: absolute;
width: 269px;
height: 51px;
left: 54px;
top: 500px;

font-family: Metropolis;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 150%;
/* or 21px */
text-align: center;

color: #000000;
}
