/* bags */
.Sacolas {
position: absolute;
/* left: 18.67%;*/
right: 23.25%;
/*top: 24.01%; 
bottom: 50.12%;
*/
width: 269px;
height: 51px;
left: 74px;
top: 100px;

}



/* Group */
.Group {
position: absolute;
left: 37.64%;
right: 46.04%;
top: 28.5%;
bottom: 63.59%;
}


/* Group */
.Group {
position: absolute;
left: 37.64%;
right: 46.04%;
top: 28.5%;
bottom: 63.59%;
}


/* Vector */
.Vector {
position: absolute;
left: 42%;
right: 51.98%;
top: 28.5%;
bottom: 67.85%;

background: #000000;
}

/* Vector */
.Vector {
position: absolute;
left: 37.64%;
right: 46.04%;
top: 30.06%;
bottom: 63.59%;

background: #FFBA49;
}

/* Vector */
.Vector {
position: absolute;
left: 37.64%;
right: 46.04%;
top: 30.06%;
bottom: 63.59%;

background: #FFA113;
}

/* Group */
.Group {
position: absolute;
left: 43.6%;
right: 36.94%;
top: 35.84%;
bottom: 50.99%;
}


/* Vector */
.Vector {
position: absolute;
left: 50.57%;
right: 39.15%;
top: 35.84%;
bottom: 60.08%;

background: #FFBA49;
}

/* Vector */
.Vector {
position: absolute;
left: 43.6%;
right: 36.94%;
top: 37.67%;
bottom: 50.99%;

background: #DB3022;
}

/* Vector */
.Vector {
position: absolute;
left: 43.6%;
right: 36.94%;
top: 38.38%;
bottom: 50.99%;

background: #D10505;
}

/* Vector */
.Vector {
position: absolute;
left: 66.67%;
right: 31.57%;
top: 41.27%;
bottom: 57.89%;

background: #FFBA49;
}

/* Vector */
.Vector {
position: absolute;
left: 47.29%;
right: 50.95%;
top: 49.03%;
bottom: 50.12%;
}

/* Gray */
.Gray {
background: #9B9B9B;
}

/* Vector */
.Vector {
position: absolute;
left: 67.91%;
right: 30.27%;
top: 35.74%;
bottom: 63.54%;

background: #FF5C00;
}

/* Vector */
.Vector {
position: absolute;
left: 62.9%;
right: 35.58%;
top: 32.38%;
bottom: 66.65%;

background: #021193;
}

/* Vector */
.Vector {
position: absolute;
left: 23.47%;
right: 75.01%;
top: 30.91%;
bottom: 68.11%;

background: #FF5C00;
}

/* Vector */
.Vector {
position: absolute;
left: 36.9%;
right: 61.57%;
top: 43.79%;
bottom: 55.24%;

background: #FF5C00;
}

/* Vector */
.Vector {
position: absolute;
left: 72.36%;
right: 25.87%;
top: 30.63%;
bottom: 68.54%;

background: #FFBA49;
}

/* Vector */
.Vector {
position: absolute;
left: 18.67%;
right: 79.52%;
top: 34.85%;
bottom: 64.39%;

background: #FFBA49;
}

/* Vector */
.Vector {
position: absolute;
left: 35.99%;
right: 62.3%;
top: 39.81%;
bottom: 59.3%;

background: #DB3022;
}

/* Vector */
.Vector {
position: absolute;
left: 31.71%;
right: 66.74%;
top: 32.38%;
bottom: 66.65%;

background: #021193;
}

/* Vector */
.Vector {
position: absolute;
left: 57.03%;
right: 41.38%;
top: 28.43%;
bottom: 70.62%;

background: #FF5C00;
}

/* Vector */
.Vector {
position: absolute;
left: 58.41%;
right: 39.83%;
top: 46.65%;
bottom: 52.49%;

background: #FFBA49;
}

/* Vector */
.Vector {
position: absolute;
left: 34.62%;
right: 64.29%;
top: 47.95%;
bottom: 51.08%;

background: #021193;
}

/* Vector */
.Vector {
position: absolute;
left: 53.06%;
right: 45.54%;
top: 24.01%;
bottom: 75%;

background: #DB3022;
}

/* Vector */
.Vector {
position: absolute;
left: 27.44%;
right: 70.75%;
top: 26.23%;
bottom: 73.21%;
}

/* Gray */
.Gray {
background: #9B9B9B;
}

/* Vector */
.Vector {
position: absolute;
left: 20.48%;
right: 79.12%;
top: 42.12%;
bottom: 57.44%;

background: #000000;
}

/* Vector */
.Vector {
position: absolute;
left: 64.53%;
right: 34.16%;
top: 25%;
bottom: 74.28%;

background: #000000;
}

/* Vector */
.Vector {
position: absolute;
left: 26.53%;
right: 72.16%;
top: 38.68%;
bottom: 60.59%;

background: #000000;
}

/* Vector */
.Vector {
position: absolute;
left: 74.93%;
right: 23.25%;
top: 42.24%;
bottom: 57%;

background: #000000;
}