/* Sucesso! */
.Sucesso {
    position: absolute;
    width: 178px;
    height: 34px;
    left: 103px;
    top: 454px;
}

/* Headline */
.Headline {
font-family: Metropolis;
font-style: normal;
font-weight: bold;
font-size: 34px;
line-height: 34px;
/* identical to box height */
display: flex;
align-items: center;

color: #000000;
}
