/* Status Bar On Light */
.StatusBarOnLight {
    position: absolute;
    width: 375px;
    height: 44px;
    left: 0px;
    top: 0px;
}



/* Battery */
.Battery {
    position: absolute;
    left: 89.6%;
    right: 3.91%;
    top: 39.39%;
    bottom: 34.85%;
}


/* Rectangle */
.Rectangle {
    position: absolute;
    left: 89.6%;
    right: 4.53%;
    top: 39.39%;
    bottom: 34.85%;


mix-blend-mode: normal;
opacity: 0.35;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 2.66667px;
}

/* Combined Shape */
.CombinedShape {
    position: absolute;
    left: 95.73%;
    right: 3.91%;
    top: 47.73%;
    bottom: 43.18%;


background: #000000;
mix-blend-mode: normal;
opacity: 0.4;
}

/* Rectangle */
.Recatangle {
position: absolute;
left: 90.13%;
right: 5.07%;
top: 43.94%;
bottom: 39.39%;

background: #000000;
border-radius: 1.33333px;
}

/* Wifi */
.Wifi {
position: absolute;
left: 84.18%;
right: 11.74%;
top: 39.39%;
bottom: 35.69%;

background: #000000;
}

/* Wifi-path */
.WifiPath {
position: absolute;
left: 84.18%;
right: 11.74%;
top: 39.39%;
bottom: 49.83%;

background: #DADADA;
}

/* Wifi-path */
.WifiPath {
position: absolute;
left: 84.9%;
right: 12.45%;
top: 48.01%;
bottom: 43.73%;

background: #DADADA;
}

/* Wifi-path */
.WifiPath {
position: absolute;
left: 85.6%;
right: 13.16%;
top: 56.64%;
bottom: 35.69%;

background: #DADADA;
}

/* Mobile Signal */
.MobileSignal {
position: absolute;
left: 78.31%;
right: 17.16%;
top: 40.15%;
bottom: 35.61%;

background: #000000;
}

/* Cellular_Connection-path */
.CelluarConnectionPath {
position: absolute;
left: 78.31%;
right: 20.89%;
top: 55.3%;
bottom: 35.61%;

background: #DADADA;
}

/* Cellular_Connection-path */
.CelluarConnectionPath {
position: absolute;
left: 79.56%;
right: 19.64%;
top: 50.76%;
bottom: 35.61%;

background: #DADADA;
}

/* Cellular_Connection-path */
.CelluarConnectionPath {
position: absolute;
left: 80.8%;
right: 18.4%;
top: 45.45%;
bottom: 35.61%;

background: #DADADA;
}

/* Cellular_Connection-path */
.CelluarConnectionPath {
position: absolute;
left: 82.04%;
right: 17.16%;
top: 40.15%;
bottom: 35.61%;

background: #DADADA;
}

/* Time Style */
.TimeStyle {
position: absolute;
left: 5.6%;
right: 80%;
top: 27.27%;
bottom: 25%;
}


/* 9:41 */
.NoveQuarentaEUm {
position: absolute;
left: 0%;
right: 0%;
top: 9.52%;
bottom: 4.76%;

font-family: SF Pro Text;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;
}

/* identical to box height */
.IdenticalToBoxHeight {
display: flex;
align-items: flex-end;
text-align: center;
letter-spacing: -0.02em;

color: #000000;
}
