.conteiner {
  display: flex;
  flex-direction: column;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background-color: rgb(255, 255, 255);
  justify-content: flex-start;
  align-items: flex-start;
  width: 375px;
  height: 812px;
}

.PerfilHeader {
  height:150px;
  width: 375px;
  background-color: tomato;
}

.MeuPerfil {
  height:50px;
  width: 355px;
  background-color: rgb(255, 255, 255);
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
}

.Nome {
  height:30px;
  width: 355px;
  background-color: rgb(255, 255, 255);
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 19px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
}

.Email {
  height:30px;
  width: 355px;
  background-color: rgb(255, 255, 255);
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 19px;
  font-weight: normal;
  margin-left: 20px;
  margin-top: 5px;
}

.Pedidos {
  height:30px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 19px;
  font-weight: normal;
  margin-left: 20px;
  margin-top: 20px;
  border-top-style: ridge;
  border-top-width: 1px;
  border-top-color: black;;
}

.PedidosBio {
  height:30px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  text-align: left;
  color: rgba(71, 70, 70, 0.658);
  font-size: 14px;
  font-weight: normal;
  margin-left: 20px;
  margin-top: 1px;
  border-bottom-style: ridge;
  border-bottom-width: 1px;
  border-bottom-color: black;;
}


.SejaUmVendedor {
  height:30px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 19px;
  font-weight: normal;
  margin-left: 20px;
  margin-top: 10px;
}

.SejaUmVendedorBio {
  height:30px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  text-align: left;
  color: rgba(71, 70, 70, 0.658);
  font-size: 14px;
  font-weight: normal;
  margin-left: 20px;
  margin-top: 1px;
  border-bottom-style: ridge;
  border-bottom-width: 1px;
  border-bottom-color: black;
}


.Favoritos {
  height:30px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 19px;
  font-weight: normal;
  margin-left: 20px;
  margin-top: 10px;

}

.FavoritosBio {
  height:30px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  text-align: left;
  color: rgba(71, 70, 70, 0.658);
  font-size: 14px;
  font-weight: normal;
  margin-left: 20px;
  margin-top: 1px;
  border-bottom-style: ridge;
  border-bottom-width: 1px;
  border-bottom-color: black;
}

.Pagamento {
  height:30px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 19px;
  font-weight: normal;
  margin-left: 20px;
  margin-top: 10px;

}

.PagamentoBio {
  height:30px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  text-align: left;
  color: rgba(71, 70, 70, 0.658);
  font-size: 14px;
  font-weight: normal;
  margin-left: 20px;
  margin-top: 1px;
  border-bottom-style: ridge;
  border-bottom-width: 1px;
  border-bottom-color: black;;
}

.Cupom {
  height:30px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 19px;
  font-weight: normal;
  margin-left: 20px;
  margin-top: 10px;

}

.CupomBio {
  height:30px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  text-align: left;
  color: rgba(71, 70, 70, 0.658);
  font-size: 14px;
  font-weight: normal;
  margin-left: 20px;
  margin-top: 1px;
  border-bottom-style: ridge;
  border-bottom-width: 1px;
  border-bottom-color: black;;
}

.Avaliações {
  height:30px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 19px;
  font-weight: normal;
  margin-left: 20px;
  margin-top: 10px;

}

.AvaliaçõesBio {
  height:30px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  text-align: left;
  color: rgba(71, 70, 70, 0.658);
  font-size: 14px;
  font-weight: normal;
  margin-left: 20px;
  margin-top: 1px;
  border-bottom-style: ridge;
  border-bottom-width: 1px;
  border-bottom-color: black;;
}

.Configurações {
  height:30px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 19px;
  font-weight: normal;
  margin-left: 20px;
  margin-top: 10px;
}

.ConfiguraçõesBio {
  height:30px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  text-align: left;
  color: rgba(71, 70, 70, 0.658);
  font-size: 14px;
  font-weight: normal;
  margin-left: 20px;
  margin-top: 1px;
  border-bottom-style: ridge;
  border-bottom-width: 1px;
  border-bottom-color: black;;
}