/* icon */
.Icon {
position: absolute;
width: 24px;
height: 24px;
left: 9px;
top: 52px;
}


/* Chevron */
.Chevron {
position: absolute;
width: 9.26px;
height: 16px;
left: 7px;
top: 4px;
}

/* Black */
.Black {
background: #222222;
}