/* Tags */
.Tags {
position: absolute;
width: 340px;
height: 30px;
left: 16px;
top: 164px;
}


/* Tag/Selected/Small */
.Tag {
position: absolute;
width: 100px;
height: 30px;
left: 16px;
top: 164px;
}


/* Rectangle 3.5 */
.Rectangle {
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
}

/* Black */
.Black {
background: #222222;
border-radius: 29px;
}

/* Entregues */
.Entregues {
position: absolute;
left: 12%;
right: 11%;
top: 26.67%;
bottom: 23.33%;
}

/* 14px */
.Quartorzepx {
font-family: Metropolis;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
}

/* or 143% */
.Or {
display: flex;
align-items: center;
text-align: center;
}

/* White */
.White {
background: #FFFFFF;
}

/* Tag/InactiveSmall */
.Tag {
position: absolute;
width: 116px;
height: 30px;
left: 135px;
top: 164px;
}


/* Rectangle 3.5 */
.Rectangle {
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
}

/* Black */
.Black {
background: #222222;
border-radius: 29px;
}

/* Processando */
.Processando {
position: absolute;
left: 12%;
right: 11%;
top: 26.67%;
bottom: 23.33%;
}

/* 14px */
.Quartorzepx {
font-family: Metropolis;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
}

/* or 143% */
.Or {
display: flex;
align-items: center;
text-align: center;
}

/* Black */
.Black {
background: #222222;
}

/* Tag/InactiveSmall */
.Tag {
position: absolute;
width: 103px;
height: 30px;
left: 253px;
top: 164px;
}


/* Rectangle 3.5 */
.Rectangle {
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
}

/* Black */
.Black {
background: #222222;
border-radius: 29px;
}

/* Cancelados */
.Cancelados {
position: absolute;
left: 12%;
right: 11%;
top: 26.67%;
bottom: 23.33%;
}

/* 14px */
.Quatorze {
font-family: Metropolis;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
}

/* or 143% */
.Or {
display: flex;
align-items: center;
text-align: center;
}

/* Black */
.Black {
background: #222222;
}