/* Tab Bar */
.Tab {
    position: absolute;
    width: 375px;
    height: 110px;
    left: 0px;
    top: 702px;
    
    
    
    /* Tab bar */
    
    position: absolute;
    width: 375px;
    height: 83px;
    left: 0px;
    top: 27px;
    
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.06);
    
    
    /* tabbar */
    
    position: absolute;
    left: 0%;
    right: 0%;
    top: 24.55%;
    bottom: 0%;
    
    background: #FFFFFF;
    border-radius: 12px 12px 0px 0px;
    
    
    /* Tabs */
    
    position: absolute;
    width: 325px;
    height: 42px;
    left: 26px;
    top: 35px;
    
    
    
    /* Tab 5 _ My Profile */
    
    position: absolute;
    width: 34px;
    height: 42px;
    left: 317px;
    top: 35px;
    
    
    
    /* profile icon/inactive */
    
    position: absolute;
    width: 30px;
    height: 30px;
    left: 317px;
    top: 35px;
    
    
    
    /* account_circle */
    
    position: absolute;
    width: 20.28px;
    height: 24px;
    left: 5px;
    top: 3px;
    
    
    
    /* Shape */
    
    position: absolute;
    width: 20.28px;
    height: 24px;
    left: 5px;
    top: 3px;
    
    /* Gray */
    border: 1px solid #9B9B9B;
    
    
    /* Path */
    
    position: absolute;
    width: 10.14px;
    height: 10.14px;
    left: 10.07px;
    top: 3px;
    
    background: #DADADA;
    
    
    /* Path */
    
    position: absolute;
    width: 20.28px;
    height: 10.65px;
    left: 5px;
    top: 16.35px;
    
    background: #DADADA;
    
    
    /* profile icon/activated */
    
    position: absolute;
    width: 30px;
    height: 30px;
    left: 317px;
    top: 35px;
    
    
    
    /* Label */
    
    position: absolute;
    width: 29px;
    height: 10px;
    left: 322px;
    top: 67px;
    
    font-family: Metropolis;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    /* identical to box height */
    
    /* Gray */
    background: #9B9B9B;
    
    
    /* Tab 4 _ Favorite */
    
    position: absolute;
    width: 46px;
    height: 42px;
    left: 239px;
    top: 35px;
    
    
    
    /* Label */
    
    position: absolute;
    width: 46px;
    height: 10px;
    left: 239px;
    top: 67px;
    
    font-family: Metropolis;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 10px;
    /* identical to box height */
    
    /* Primary */
    background: #DB3022;
    
    
    /* heart icon/activated */
    
    position: absolute;
    width: 30px;
    height: 30px;
    left: 246px;
    top: 35px;
    
    
    
    /* heart icon/activated */
    
    position: absolute;
    width: 30px;
    height: 30px;
    left: 246px;
    top: 35px;
    
    
    
    /* Shape */
    
    position: absolute;
    width: 26.16px;
    height: 24px;
    left: 2px;
    top: 3px;
    
    /* Primary */
    background: #DB3022;
    
    
    /* Tab 3 _ Bag */
    
    position: absolute;
    width: 42px;
    height: 42px;
    left: 168px;
    top: 35px;
    
    
    
    /* Label */
    
    position: absolute;
    width: 42px;
    height: 10px;
    left: 168px;
    top: 67px;
    
    font-family: Metropolis;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    /* identical to box height */
    
    /* Gray */
    background: #9B9B9B;
    
    
    /* shopping_bag icon/inactive */
    
    position: absolute;
    left: 46.13%;
    right: 45.87%;
    top: 31.82%;
    bottom: 40.91%;
    
    
    
    /* Vector */
    
    position: absolute;
    left: 10%;
    right: 10%;
    top: 13.33%;
    bottom: 10%;
    
    /* Gray */
    border: 1px solid #9B9B9B;
    box-sizing: border-box;
    
    
    /* shopping_bag icon/activated */
    
    position: absolute;
    width: 30px;
    height: 30px;
    left: 173px;
    top: 35px;
    
    
    
    /* Tab 2 _ Shop */
    
    position: absolute;
    width: 36px;
    height: 42px;
    left: 100px;
    top: 35px;
    
    
    
    /* Label */
    
    position: absolute;
    width: 36px;
    height: 10px;
    left: 100px;
    top: 67px;
    
    font-family: Metropolis;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    /* identical to box height */
    
    /* Gray */
    background: #9B9B9B;
    
    
    /* shop icon/activated */
    
    position: absolute;
    width: 30px;
    height: 30px;
    left: 101px;
    top: 35px;
    
    
    
    /* Tab 1 _Main */
    
    position: absolute;
    width: 30px;
    height: 42px;
    left: 26px;
    top: 35px;
    
    
    
    /* Label */
    
    position: absolute;
    width: 29px;
    height: 10px;
    left: 27px;
    top: 67px;
    
    font-family: Metropolis;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    /* identical to box height */
    
    /* Gray */
    background: #9B9B9B;
    
    
    /* home icon/inactive */
    
    position: absolute;
    width: 30px;
    height: 30px;
    left: 26px;
    top: 35px;
    
    
    
    /* home */
    
    position: absolute;
    width: 28.24px;
    height: 24px;
    left: 1px;
    top: 3px;
    
    
    
    /* Shape */
    
    position: absolute;
    width: 28.24px;
    height: 24px;
    left: 1px;
    top: 3px;
    
    /* Gray */
    border: 1px solid #9B9B9B;
    
    
    /* home icon/inactive */
    
    position: absolute;
    width: 30px;
    height: 30px;
    left: 26px;
    top: 35px;
    
    
    
    /* Home Indicator On Light */
    
    position: absolute;
    width: 375px;
    height: 34px;
    left: 0px;
    top: 76px;
    
    
    
    /* Rectangle */
    
    position: absolute;
    left: 32.27%;
    right: 32%;
    top: 58.82%;
    bottom: 26.47%;
    
    background: #000000;
    border-radius: 100px;
    
    
    /* Bars/Search Bar/_Resources/Search Glyph */
    
    position: absolute;
    left: 27.47%;
    right: 66.67%;
    top: 35.45%;
    bottom: 44.55%;
    
    
    
    /* Search */
    
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: #8E8E93;
    
    
    /* Search-path */
    
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: #DADADA;
    
    
    /* Search-path */
    
    position: absolute;
    left: 7.83%;
    right: 29.54%;
    top: 7.84%;
    bottom: 29.44%;
    
    background: #DADADA;
    }