/* baseline-search-24px */
.Baseline {
position: absolute;
width: 24px;
height: 24px;
left: 340px;
top: 52px;
}


/* Vector */
.Vector {
position: absolute;
left: 12.5%;
right: 14.63%;
top: 12.5%;
bottom: 14.63%;
}

/* Black */
.Black {
background: #222222;
}

/* Vector */
.Vector {
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
}
