.conteiner {
  display: flex;
  flex-direction: column;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background-color: rgb(255, 255, 255);
  justify-content: flex-start;
  align-items: flex-start;
  width: 375px;
  height: 812px;
}

.PedidosHeader {
  height:150px;
  width: 375px;
  background-color: tomato;
}

.Back {
  height:150px;
  width: 375px;
}


.Search {
  width: 375px;
}

.MeusPedidos {
<<<<<<< Updated upstream
  height:50px;
  width: 355px;
=======
  height:100px;
  width: 375px;
>>>>>>> Stashed changes
  background-color: rgb(255, 255, 255);
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
<<<<<<< Updated upstream
  margin-left: 20px;
  margin-top: 20px;
=======
>>>>>>> Stashed changes
}

.Status {
  width: 375px;

}

<<<<<<< Updated upstream
=======
.Ped1 {
  top: 185px;
  left: 0px;
  width: 375px;
}

.Ped2 {
  top: 145px;
  left: 0px;
  width: 375px;
}

.Ped3 {
  top: 105px;
  left: 0px;
  width: 375px;
}

>>>>>>> Stashed changes
.Entregues {
  background-color: black;
  border: 8px solid #000000;
  border-radius: 15px;
  color: white;
}

.Processando {
  background-color: black;
  border: 8px solid #000000;
  border-radius: 15px;
  color: white;
}

.Cancelados {
  background-color: black;
  border: 8px solid #000000;
  border-radius: 15px;
  color: white;
}

.Options {
  width: 320px;
  padding-left: 20px;
<<<<<<< Updated upstream
  padding-top: 10px;
=======
>>>>>>> Stashed changes
  text-align: center;
}

.Option {
  padding-right: 5px;
}


.HomeHeader {
  width: 375px;
}